@charset "UTF-8";
@font-face {
  font-family: Roboto-bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-light;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-thin;
  src: url(../fonts/Roboto-Thin.ttf);
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: #000000;
}

.attention {
  color: #06bee1;
}

.button {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Roboto-bold;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.button__primary {
  background: #0842b7;
}

.button__secondary {
  border: 1px solid #0842b7;
  background: transparent;
  color: #0842b7;
  /*Header Начало*/
}

.header {
  position: relative;
  background: #ffffff;
  padding: 34px 0;
  z-index: 999;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  font-family: Roboto-bold;
}

.header__phone__light {
  font-family: Roboto-light;
  color: #777777;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__text {
  font-family: Roboto-bold;
  color: #000000;
  font-size: 16px;
  margin-left: 12px;
}

.nav {
  max-width: 510px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  font-family: Roboto-bold;
  color: #777777;
  font-size: 14px;
}

.nav__link:hover {
  color: #000000;
  padding-bottom: 37px;
  margin-bottom: -39px;
  border-bottom: 3px solid #0056cf;
}

/*Hero Начало*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -88px;
  padding-top: 365px;
  padding-bottom: 400px;
  background: url("../img/hero-bg.png") no-repeat center/cover;
}

.hero__block {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.hero__block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.hero__block__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 277px;
}

.hero__block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 55px;
}

.hero__title {
  font-family: Roboto-light;
  font-size: 70px;
  line-height: 45px;
  margin-bottom: 30px;
  font-weight: normal;
}

.hero__title__secondary {
  font-size: 36px;
}

.hero__description {
  font-family: Roboto-light;
  max-width: 350px;
}

.hero__info {
  font-family: Roboto-light;
  max-width: 330px;
  font-size: 24px;
}

.hero__button {
  padding: 18px 40px;
  margin-bottom: 12px;
}

.hero__button:last-child {
  margin: 0;
}

.why__robot {
  font-family: Roboto-light;
  padding: 22px 25px;
  background: #ffffff;
  font-size: 26px;
}

/*Начало info*/
.info {
  margin-top: -200px;
}

.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #eaf1f7;
  padding-bottom: 115px;
}

.info__subtitle {
  font-family: Roboto-bold;
  font-size: 24px;
  margin-bottom: 35px;
  margin-top: 75px;
}

.info__description {
  font-family: Roboto-light;
  line-height: 1.4;
  /*info__profit*/
}

.info__profit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 15px;
}

.info__profit__subtitle {
  max-width: 275px;
}

.info__profit__description {
  max-width: 220px;
}

.info__title {
  font-family: Roboto-thin;
  font-weight: normal;
  font-size: 320px;
  line-height: 0.8;
  /*info__tools*/
}

.info__tools {
  max-width: 570px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__analysis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

.info__analysis__normal {
  font-family: Roboto-light;
}

.info__analysis__subtitle {
  max-width: 200px;
}

.info__analysis__description {
  max-width: 260px;
}

.info__analysis__image {
  width: 100px;
  height: 66px;
}

.info__instruments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__instruments__normal {
  font-family: Roboto-light;
}

.info__instruments__subtitle {
  max-width: 200px;
}

.info__instruments__description {
  max-width: 270px;
}

.info__instruments__image {
  width: 79px;
  height: 83px;
}

.info__attention {
  font-size: 100px;
  /*Начало create*/
}

.create {
  padding-top: 115px;
  padding-bottom: 120px;
  background: url("../img/create-bg.png") no-repeat bottom;
}

.create__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create__title {
  max-width: 485px;
  font-family: Roboto-light;
  font-weight: normal;
  font-size: 35px;
  text-align: center;
  margin-bottom: 45px;
}

.create__description {
  max-width: 360px;
  font-family: Roboto-light;
  text-align: center;
  margin-bottom: 70px;
}

.calculator {
  max-width: 1055px;
  width: 100%;
}

.calculator__title {
  max-width: 255px;
  font-size: 23px;
  font-family: Roboto-bold;
}

.calculator__title__normal {
  font-family: Roboto-light;
}

.calculator__subtitle {
  max-width: 185px;
  font-family: Roboto-light;
}

.calculator__input {
  width: 98px;
  height: 48px;
  border: 1px solid #cfdeee;
  border-radius: 3px;
  margin-right: 30px;
  outline: none;
  font-family: Roboto-bold;
  padding-left: 20px;
  font-size: 16px;
  background: transparent;
}

.calculator__description {
  max-width: 200px;
  font-family: Roboto-light;
}

.calculator__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  position: relative;
}

.calculator__row::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 665px;
  height: 0px;
  border: 1px solid #eaf1f7;
}

.calculator__row:last-child {
  margin-top: 25px;
  padding-bottom: 0;
  margin-bottom: 70px;
}

.calculator__row:last-child::before {
  display: none;
}

.calculator__button {
  padding: 15px 30px;
  margin: auto;
}

.col-37 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 37%;
      flex-basis: 37%;
}

.col-26 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 26%;
      flex-basis: 26%;
  /*Начало training*/
}

.training {
  padding-top: 130px;
  padding-bottom: 118px;
  background: url("../img/training-bg.jpg") no-repeat center/cover;
  /*Начало Advantages*/
}

.training__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.training__text {
  color: #ffffff;
  max-width: 460px;
  font-family: Roboto-bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 38px;
}

.training__button {
  border: 1px solid #ffffff;
  background: transparent;
  padding: 13px 35px;
}

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #eaf1f7;
  /*Начало Cost*/
}

.advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__block__card {
  max-width: 1070px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.advantages__block__card:last-child {
  margin-bottom: 0;
}

.advantages__title {
  font-family: Roboto-light;
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 55px;
}

.advantages__subtitle {
  font-size: 25px;
  font-family: Roboto-bold;
  margin-bottom: 30px;
}

.advantages__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 330px;
  width: 100%;
  text-align: center;
}

.advantages__card__img {
  margin-bottom: 20px;
}

.advantages__card__title {
  font-family: Roboto-bold;
  font-size: 17px;
}

.advantages__card__description {
  font-family: Roboto-light;
}

.advantages__card__description-profi {
  max-width: 200px;
}

.advantages__card__description-practice {
  max-width: 295px;
}

.advantages__card__description-author {
  max-width: 250px;
}

.advantages__card__description-data {
  max-width: 250px;
}

.advantages__card__description-own {
  max-width: 300px;
}

.cost {
  padding-top: 120px;
  padding-bottom: 120px;
}

.cost__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cost__block__access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 150px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 70px;
}

.cost__block__card {
  max-width: 1070px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cost__title {
  font-family: Roboto-bold;
  font-size: 34px;
  margin-bottom: 35px;
}

.cost__title__normal {
  font-family: Roboto-light;
  font-weight: normal;
}

.cost__description {
  max-width: 350px;
  font-family: Roboto-light;
  text-align: center;
  margin-bottom: 75px;
}

.cost__card {
  max-width: 390px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-right: 1px solid #eaf1f7;
}

.cost__card:last-child {
  border-right: none;
}

.cost__card__title {
  font-family: Roboto-bold;
  font-size: 26px;
  margin-bottom: 25px;
}

.cost__card__price {
  font-family: Roboto-bold;
  font-size: 24px;
  margin-bottom: 45px;
}

.cost__card__access {
  font-family: Roboto-light;
  max-width: 220px;
}

.cost__button {
  padding: 16px 60px;
}

@media screen and (max-width: 1600px) {
  .hero {
    padding-top: 265px;
    padding-bottom: 350px;
  }
  .info {
    margin-top: -240px;
  }
}
/*# sourceMappingURL=style.css.map */